.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
renv
renv.lock
revdep
.Rprofile
README.html
inst/doc
**/.quarto/

docs
*.RData
*.Rhistory
*.gz
# Packaged example data must be committed despite the rule above
!inst/extdata/*.gz
.Rapp.history
